* {
    margin: 0;
    padding: 0;
}

html,body{
    background-color: rgb(221, 240, 197);
    font-size: 1em;
    height: 100%; 
   margin: 0;
   padding: 0;
    align-content: center;
    
    display:flexbox;
    -ms-flex-item-align: center;
    
}
p {
    text-align: center;
    padding: 1em;
}
br{
    padding: 1em;
}
#navbar{
    margin: 0;
    padding: 1rem;
    align-items: center;
    box-sizing: border-box;
    display:inline-flex;
    width: 100%;
    border: 1rem;
    border-color: black;

}

#navbar a{
    padding:  0.5em;
    margin-left: 1rem;
    box-sizing: border-box;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    color: aliceblue;
    background-color: darkgreen;
}

@media screen and (max-width: 60rem) {
    * {margin: 0;padding: 0;
    }
    html,body{
        background-image: url();
        font-size: 1em;
        height: 100%; 
       margin: 0;
       padding: 0;
        align-content: center;
        
        display:flexbox;
        -ms-flex-item-align: center;
        
    }
    p {
        text-align: center;
    }
    br{
        margin: 1em;
    }
    
    
    
    #navbar a{
        position:absolute;
        margin-top: 1em;
        right: 1em;
        padding:  0.5em;

        box-sizing: border-box;
        border: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 3px;

    }
    a:not(#navbar a){
        position:static;
        align-self: center;
        margin-top: 2em;
        padding:  0.5em;
        top: 2em;
        box-sizing: border-box;
        border: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 3px;
        background-color: darkgreen;
        color: aliceblue;

    }
    
}
