* {margin: 0;padding: 0;
}
html,body{
    height: 100%; 
   margin: 0;
   padding: 0;

    
    display:flexbox;
    -ms-flex-item-align: center;
    
}
#navbar{
    margin: 0;
    padding: 1rem;
    align-items: center;
    box-sizing: border-box;
    display:inline-flex;
    width: 100%;
    border: 1rem;
    border-color: black;
    background: lightblue;
}

#navbar a{
    padding: auto;
    margin-left: 1rem;
    box-sizing: border-box;
    border: 1px;
    border-style: solid;
    border-color: black;
}
