* {margin: 0;padding: 0;}

html, body{
    background-color: green;
    display:flexbox;
    -ms-flex-item-align: center;
    
}

#navbar{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    display:inline-flex;
    width: fit-content;
    max-width: 50%;
    border: 1rem;
    border-color: black;
    background: lightblue;
}


#canvas{


    margin:1rem;
    padding: 0;
}
head{
    display: flex;
    flex-direction: row;
}
#input{
    margin-left: 15%;
    
    height: min-content;
    width: 70%;
}